{% extends "base.html" %}

{% block title %}Мои продажи — Sapphire{% endblock %}

{% block content %}
<section class="page">
    <div class="container">
        <div class="page-head">
            <div>
                <h1>Мои продажи</h1>
                <p>Здесь отображаются заказы, где вы являетесь продавцом.</p>
            </div>
        </div>

        {% if sales %}
            <div class="order-list">
                {% for order in sales %}
                    <a href="{% url 'orders:order_detail' order.id %}" class="order-card">
                        <div>
                            <h2>Заказ #{{ order.id }}</h2>
                            <p>{{ order.listing.title }}</p>
                        </div>

                        <div class="order-card-info">
                            <strong>{{ order.total_price }} грн</strong>
                            <span>{{ order.get_status_display }}</span>
                        </div>
                    </a>
                {% endfor %}
            </div>
        {% else %}
            <div class="empty-box">
                <h2>Продаж пока нет</h2>
                <p>Когда кто-то купит ваше объявление, заказ появится здесь.</p>
            </div>
        {% endif %}
    </div>
</section>
{% endblock %}